body {
  font-size: 18px;
}

.navbar {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
}

.logo-circle {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  font-size: 12px;
  display: flex;
  align-items: center;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

main {
  min-height: 85vh;
}

.shows-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 200px;
  row-gap: 100px;
  padding: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-like {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.show-name {
  inline-size: 150px;
  overflow-wrap: break-word;
}

.buttons {
  height: 35px;
  cursor: pointer;
}

footer {
  border: 1px solid black;
  padding-left: 20px;
}
