body {
  font-size: 18px;
}

.navbar {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: black;
}

main {
  min-height: 85vh;
}

footer {
  border: 1px solid black;
  padding-left: 20px;
}
